div{
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-top: -20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
}

div input{
    width: 50%;
    border-radius: 5px;
}