.searchContainer{
    width: 90%;
    height: 80px;
    border-radius: 8px;
    background-color: white;
    margin-top: -40px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchContainer input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.searchContainer button{
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: lightseagreen;
}